*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #253838, #829592);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.chat{
    background: #44726d;
    width: 60%;
    min-width: 250px;
    display: flex;
}
.col-1{
    flex: 1;
    
}
.mensagens{
    display: flex;
    /*align-items: center;*/
    margin: 40px;
    flex-direction: column;
}
.texto{
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 40px;
    border-radius: 3.5px;
    flex-basis: 70%;
    font-weight: 300;

}
.perfil{
    width: 50px;
    border-radius: 50%;
    margin: 0 20px;
    position: right;
    float: left;
}

.col-1 input{
    border: 0;
    outline: none;
    padding: 20px 40px;
    background: #49605d;
    color: #ffff;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
}

.texto button{
	border: 1;
    outline: black;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 500;
	cursor: pointer;
	transition: all 0.4s;
  }

  ::placeholder{
    color: #ffff;
}
.classeMensagemItem{
    border:1px solid white;
    padding: 9px;
    border-radius: 6px;
    background-color:gray;
    align-items: center;
    align-self:flex-start;
}
